*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Roboto';
    src:url(newsletter-sign-up-with-success-message-main/assets/fonts/Roboto-Regular.ttf) format('truetype'),
    url(newsletter-sign-up-with-success-message-main/assets/fonts/Roboto-Bold.ttf) format('truetype')
    ;       
}

:root{
    --Red: #ff6257;
    --Blue-800: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%,58%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: 'Roboto', serif;
}


main{
    width: 100vw;
    height: 100vh;
}


/* --hero-img-esction-- */
picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


/*--body --*/

h1{
    margin-top: 2rem;
    margin-left: 1rem;
}

#sub-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 1rem 1rem;
}

#news-usecase p{
    margin-bottom: 1rem;
}

ul{
    list-style: none;
    padding-left: 0;
}

li{
    display: flex;
    align-items: center;
}

li::before{
    content: "";
    display: inline-block;
    background-image: url(newsletter-sign-up-with-success-message-main/assets/images/icon-list.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.1rem;
}
